<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nhan Vien</title>
</head>
<style>
    table, th, td {
      border: 1px solid;
      border-collapse: collapse;
    }
    th, td {
      background-color: #96D4D4;
    }
    /* Unvisited link */
    a:link {
      color: blue;
    }

    /* Visited link */
    a:visited {
      color: blue;
    }

    /* Mouse over link */
    a:hover {
      color: red;
    }

    /* Selected link */
    a:active {
      color: green;
    }
</style>
<body>
    <form action="{% url 'nhanvien' %}" method="GET">
        <input type="text" name="q" placeholder="Search..." value="{% if query %}{{ query }}{% endif %}">
        <button type="submit">Search</button>
    </form>
    <table>
        <tr>
            <th>Mã Nhân Viên</th>
            <th>Họ Tên</th>
            <th>Số Điện Thoại</th>
            <th>Ngày Vào Làm</th>
            <th>Sửa / Xóa</th>
        </tr>
        {% for nv in ds_nv %}
        <tr>
            <td>{{ nv.manv }}</td>
            <td>{{ nv.hoten }}</td>
            <td>{{ nv.sodt }}</td>
            <td>{{ nv.ngvl}}</td>
            <td>
                <a href="{% url 'edit_nhanvien' nv.manv %}">Sửa</a>
                <a href="{% url 'delete_nhanvien' nv.manv %}">Xóa</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'add_nhanvien' %}">Thêm</a>
    <br>
    <a href="/">Trở về trang chính</a>
</body>
</html>