<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chi Tiet Hoa Don</title>
</head>
<style>
    table, th, td {
      border: 1px solid;
      border-collapse: collapse;
    }
    th, td {
      background-color: #96D4D4;
    }

    a:link {
      color: blue;
    }


    a:visited {
      color: blue;
    }


    a:hover {
      color: red;
    }


    a:active {
      color: green;
    }
</style>
<body>
    <h2>Tìm kiếm</h2>
    <form action="{% url 'cthd' %}" method="GET">
        <input type="text" name="q" placeholder="Tìm..." value="{% if query %}{{ query }}{% endif %}">
        <button type="submit">Tìm</button>
    </form>
    <h2>Thông tin</h2>
    <table>
        <tr>
            <th>Số Hóa Đơn</th>
            <th>Mã Sản Phẩm</th>
            <th>Số Lượng</th>
            <th>Sửa / Xóa</th>
        </tr>
        {% for cthd in ds_cthd %}
        <tr>
            <td>{{ cthd.sohd.sohd }}</td>
            <td>{{ cthd.masp.masp }}</td>
            <td>{{ cthd.sl }}</td>
            <td>
                <a href="{% url 'edit_cthd' cthd.sohd.sohd cthd.masp.masp %}">Sửa</a>
                <a href="{% url 'delete_cthd' cthd.sohd.sohd cthd.masp.masp %}">Xóa</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'add_cthd' %}">Thêm</a>
    <br>
    <a href="/">Trở về trang chính</a>
</body>
</html>