<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hoa Don</title>
</head>
<style>
    table, th, td {
      border: 1px solid;
      border-collapse: collapse;
    }
    th, td {
      background-color: #96D4D4;
    }
    /* Unvisited link */
    a:link {
      color: blue;
    }

    /* Visited link */
    a:visited {
      color: blue;
    }

    /* Mouse over link */
    a:hover {
      color: red;
    }

    /* Selected link */
    a:active {
      color: green;
    }
</style>
<body>
    <h2>Tìm kiếm</h2>
    <form action="{% url 'hoadon' %}" method="GET">
        <input type="text" name="q" placeholder="Tìm..." value="{% if query %}{{ query }}{% endif %}">
        <button type="submit">Search</button>
    </form>
    <h2>Thông tin</h2>
    <table>
        <tr>
            <th>Số Hóa Đơn</th>
            <th>Ngày Hóa Đơn</th>
            <th>Mã Khách Hàng</th>
            <th>Mã Nhân Viên</th>
            <th>Trị Giá</th>
            <th>Sửa / Xóa</th>
        </tr>
        {% for hd in ds_hd %}
        <tr>
            <td>{{ hd.sohd }}</td>
            <td>{{ hd.nghd }}</td>
            <td>{{ hd.makh.makh }}</td>
            <td>{{ hd.manv.manv }}</td>
            <td>{{ hd.trigia }}</td>
            <td>
                <a href="{% url 'edit_hoadon' hd.sohd %}">Sửa</a>
                <a href="{% url 'delete_hoadon' hd.sohd %}">Xóa</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'add_hoadon' %}">Thêm</a>
    <br>
    <form action="{% url 'tinh_tri_gia_hoadon' %}" method="post">
        {% csrf_token %}
        <button type="submit">Tính trị giá hóa đơn</button>
    </form>
    <br>
    <a href="/">Trở về trang chính</a>
</body>
</html>