<html>
  <head>
    <title>Trang chính</title>
  </head>
  <style>
    /* Unvisited link */
    a:link {
      color: blue;
    }

    /* Visited link */
    a:visited {
      color: blue;
    }

    /* Mouse over link */
    a:hover {
      color: red;
    }

    /* Selected link */
    a:active {
      color: green;
    }
</style>
  <body>
    <h1>Trang Chính</h1>
    <div >
      <ul>
        <li><a href="/sanpham/">Sản Phẩm</a></li>
        <li><a href="/khachhang/">Khách Hàng</a></li>
        <li><a href="/nhanvien/">Nhân Viên</a></li>
        <li><a href="/hoadon/">Hóa Đơn</a></li>
        <li><a href="/cthd/">Chi Tiết Hóa Đơn</a></li>
      </ul>
    </div>


  </body>
</html>