<html>
  <head>
    <title>My Website</title>
  </head>
  <style>
    /* Unvisited link */
    a:link {
      color: blue;
    }

    /* Visited link */
    a:visited {
      color: blue;
    }

    /* Mouse over link */
    a:hover {
      color: red;
    }

    /* Selected link */
    a:active {
      color: green;
    }
</style>
  <body>
    <h1>Main Page</h1>
    <div >
      <!-- Menu items -->
      <ul>
        <li><a href="/sanpham/">San Pham</a></li>
        <li><a href="/khachhang/">Khach Hang</a></li>
        <li><a href="/nhanvien/">Nhan Vien</a></li>
        <li><a href="/hoadon/">Hoa Don</a></li>
        <li><a href="/cthd/">Chi Tiet Hoa Don</a></li>
        <!-- Other menu items -->
      </ul>
    </div>

  </body>
</html>